<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account List</title>
</head>
<body>
    <h2>Account List</h2>
    
    <ul>
        {% for account in accounts %}
            <li>
                <a href="{% url 'account_detail' account.id %}">{{ account.name }}</a> - Balance: {{ account.balance }}
            </li>
        {% empty %}
            <li>No accounts available.</li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'Userprofile' %}">Back to Profile</a>
    {% if company.id %}
    <a href="{% url 'comp_detail' company.id %}">Back to Company Detail</a><br>
{% else %}
    <span>No company available</span><br>
{% endif %}

    
   
    
       
</body>
</html>
