<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add Employee</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}  
            <button type="submit">Add Employee</button><br>
        </form>

        <a href="{% url 'Userprofile' %}">Back to Profile</a><br>
        
    </div>
</body>
</html>