<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Select Owner</h1>
    {% if user %}
    <ul>
    {% for i in obj %}
        <li><a href="{% url 'addcompany' i.id %}">{{ i.username }}</a></li><br>
    {% endfor %}
    </ul>
    {% else %}
        <p>No users available.</p>
    {% endif %}

    <a href="{% url 'company_list' %}">View Company List</a>

</body>
</html>