<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Rejected Reports</h2>
<table>
    <tr>
        <th>Company</th>
        <th>Data</th>
        <th>Owner</th>
        <th>Date</th>
    </tr>
    {% for report in reports %}
        <tr>
            <td>{{ report.company.name }}</td>
            <td>{{ report.data }}</td>
            <td>{{ report.owner.username }}</td>
            <td>{{ report.date }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">No rejected reports found.</td>
        </tr>
    {% endfor %}
</table>

</body>
</html>